/* defineing some usefull theme colors */
:root{
    --Pink-main: rgb(250,100,125);
    --Signature-black: rgb(42,42,42);
}

body{
    margin:0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: snow;

}

/* Nav Bar */
header{
    background-color: rgb(37,37,37);
    color: white;
}
nav{
    background-color: var(--Signature-black);
}
nav a{
    color:var(--Pink-main);
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    padding-left: 10px;
    padding-bottom: 0;
    margin: 0;
}
nav ul li{
    padding: 2%;
    padding-left: 20px;
    color: white;
    border-radius: 2.25px;
    font-size: clamp(15px, 3vw,20px);
}
nav ul li:hover{
    background-color: white;
    color: black;
}
header h1{
    margin: 0;
    font-size:clamp(15px,  8vw, 40px);
    padding: 1.5%;
}


/* The background and tagline is named "space" class */
main h2{
    font-size: clamp(20px, 7vw, 60px);
}
section.darker{
    background-color: var(--Signature-black);
}
.space{
    padding-left: clamp(5%,100px,100px);
    padding-top: 12vw;
    padding-bottom: 12vw;
    color: var(--Pink-main);
    text-shadow: 3px 3px 15px pink;
    /* Gives the parallax effect*/
    background-image: url("Home.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.space p{
    font-size: clamp(15px, 3vw,25px);
}

/* Actual Body*/
.faqU{
    padding-left: clamp(5%,100px,100px);
}
/*@media (min-width: 600px){
    .faq{
        grid-template-columns:1fr 1fr;
    }
}*/
.faqU h2{
    padding: 0;
    color: var(--Pink-main);
}
/* FAQs*/

.faq{
    display: grid;
    padding-left: 5%;
    padding-right: 30%;
    gap: 1rem;
    grid-template-columns:1fr;
    font-size: clamp(15px, 3vw, 25px);
}